<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Where were you born?</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="site.css"/>
</head>

<body ng-controller="CensusingCtrl">

    <div class="row">

        <div class="col-md-6">
            <div class="title">
                <a href="javascript:void(0);" ng-click="">Where were<br /><em ><strong >you</strong></em> born?</a><br/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="views">
                <br/>

                <button class="btn btn-lrg" ng-click=""><span class="glyphicon glyphicon-refresh"></span></button>
                <button class="btn btn-lrg" ng-click="">Show Table</button>

                <section id="map">
                    
                </section>

                <div>
                    <table class="table table-bordered table-hover birthPlaces">
                        <thead>
                            <th>Name</th>
                            <th>Place</th>
                            <th>Latitude</th>
                            <th>Longitute</th>
                            <th>Added On</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

    <script>

        function onGoogleReady() {
          angular.bootstrap(document.getElementsByTagName("body")[0], ['censusing']);
        }

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap.min.js"></script>
    <script src="event.js"></script>
    <script src="ui-map.js"></script>
    <script src="app.js"></script>
    <script src="censusing-ctrl.js"></script>
    <script src="add-birthplace-modal-ctrl.js"></script>
    <script src="birthplaces-srv.js"></script>
    <script src="places-srv.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>

</body>
</html>
