body {
    background-color: ivory;
    overflow-x: hidden;    
}

.title {
    text-align: right;
    margin-top: 150px;
    margin-right: 150px;
    font-size: 100px;
}

.views {
	margin-top: 75px;
}

table.birthPlaces {
	margin-top: 25px;
	width: 98%;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:active { text-decoration: none;}

.map-canvas { 
	height: 400px;
	margin-top: 25px;
	margin-right: 10px;
}